{% extends 'shop/base.html' %}
{% block title %} Checkout -- My Awesome Cart{% endblock %}
{% block content %}
<div class="container">
    <div class="col my-4">
        <h2> Step 1 - My Awesome Cart Express Checkout - Review Your Cart items </h2>
        <div id='items'></div>
    </div>
    <div class="col my-4">
        <h2> Step 2 - Enter Address & Other Details</h2>
        <form method="post" action="{% url 'check_out' %}">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <p class="text-danger">{{ field.errors }}</p><br>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        $('#itemsJson').val(JSON.stringify(cart));
        {% if thank %}
            alert('Thanks for ordering with us. Your order is is {{id}}. Use it to track your order using our order tracker');
            localStorage.clear();
            document.location = "/shop";
        {% endif %}
    </script>
{% endblock %}