{% extends 'shop/base.html' %}

{% block title %} {{ product_view.product_name }} {% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <img src="{{ product_view.image.url }}">
                </div>
            </div>
            <div class="col-md-8">
                    <h1>{{ product_view.product_name }}</h1>
                     <p class="card-title text-success"><strong>Rs. {{ product_view.discount_price }} - <del class="text-danger">Rs. {{ product_view.price }}</del></strong></p>
                    <p>{{ product_view.desc|slice:"0:150" }}</p>
                    <a href="#" class="btn btn-warning">Buy Now</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
{% endblock %}
